.detail {
    margin: 50px 10px;
    max-width: 600px;
}

.btn {
    padding: 20px 24px;
    border: none;
    background-color: #000000d3;
    color: #fff;
    font-style: italic;
}

.btn:hover {
    cursor: pointer;
    background-color: #aaa;
    color: #000;
}