.menu {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.img:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition:all .3s ease;
}

.center {
    text-align: center;
}

.blur {
    color: #999;
}