.nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    padding: 15px 0;
    position: fixed;
    background-color: #eee;
    justify-content: space-between;
}

.scroll {
    background-color: rgba(255, 255, 255, 0.8);
}

.nav a {
    color: #333;
    font-style: italic;
    text-decoration: none;
}

.nav a:hover {
    color: #999;
}

.nav a.active {
    color: #efd4a1;
}

.nav span {
    margin: 0 10px;
}

.nav .logo {
    font-size: 24px;
    font-style: italic;
}

.btn {
    border: none;
    color: #fff;
    padding: 5px 10px;
    align-self: center;
    border-radius: 10px;
    background-color: #555;
}

.btn:hover {
    color: #000;
    cursor: pointer;
    background-color: #aaa;
}